name: CI

on: push

jobs:
  build:

    runs-on: ubuntu-slim

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}

    - name: npm install, build, and test
      run: |
        npm ci
        npm run compile --if-present
        npm test
      env:
        CI: true
